<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<userSettings>
		<ModManager.Properties.Setttings>
			<NewSetting name="GAME_PATH" SERIALISE_AS="string">
				<value>E:\SteamLibrary\steamapps\common\Doki Doki Literature Club\</value>
			</NewSetting>
		</ModManager.Properties.Setttings>
	</userSettings>
</configuration>